In [2]:
import pandas as pd 
import numpy as np

# 모델평가

### 정확도

### AUC

### 데이터 처리

In [ ]:
#meaning: Apply a function along an axis of the DataFrame.
DataFrame명.apply(lambda x : x['칼럼명']들의 조건식 
                               if x['칼럼명']들의 조건식 
                               else (x['칼럼명']들의 조건식 또는 값), axis = 1)

In [ ]:
test_df.reset_index(drop=True) #drop parameter to avoid the old index being added as a column

In [ ]:
df.sort_values(by=['sequence'],inplace=True) #정렬된 상태로 다시 저장하기 : inplace=True

In [ ]:
df.rename(index = {'old_nm': 'new_nm'}, inplace = True)

In [ ]:
df=df.replace(0,5)

In [ ]:
df=df.drop(columns=[])

In [ ]:
list 끼리 이어붙이기 +

In [ ]:
df=pd.concat([new_df,df])

In [ ]:
#문자열 내에서 i iteration 출력 
print(' '+i' ')

### 산점도

In [ ]:
sns.relplot(x="n_year_predicted",y="cancer",data=test_df)

In [ ]:
sns.regplot(x="total_bill", y="tip", data=tips) #회귀그래프 같이 출력됨

In [ ]:
차이는 모르겠음

In [ ]:
jointplot에 나오는 person 뭔지? 유의하다 유의하지 않다 나오는지?

### 히스토그램 밀도함수그래프 차이

In [ ]:
sns.kdeplot(x)

### pivot, groupby

- pivot: 데이터를 행/열 인덱스로 조회하여 펼쳐놓은것. 집계값이 없을 경우 단 하나의 데이터만 조회되어야함
- group by: 키가 지정하는 조건에 맞는 데이터가 다수 (집계값이 필수임)

차이: 변수 display 방식이 다름

In [12]:
df = pd.DataFrame({"a": [1,2,3,1,2,3], "b":[1,1,1,2,2,2], "c":np.random.rand(6)})
df.pivot('a','b','c') #집계기능 없음

b         1         2
a
1  0.719744  0.164319
2  0.584550  0.981383
3  0.465415  0.876068

In [13]:
pd.pivot_table(df, index=["a"], columns=["b"], values=["c"], aggfunc=np.sum)

          c
b         1         2
a
1  0.719744  0.164319
2  0.584550  0.981383
3  0.465415  0.876068

In [14]:
#상단 코드와 동일한 역할을 함 
df.set_index(['a','b']).unstack()

          c
b         1         2
a
1  0.719744  0.164319
2  0.584550  0.981383
3  0.465415  0.876068

In [5]:
df.groupby(['a','b'])['c'].sum()

a  b
1  1    0.251266
   2    0.363952
2  1    0.725588
   2    0.980704
3  1    0.346053
   2    0.481226
Name: c, dtype: float64

### concat

In [ ]:
pd.concat([df1, df2], axis=1) #가로 방향으로 concat

### merge

In [ ]:
df=pd.merge(df,age_df,how='left',on='pid')

## 통계검정

### 1. t-test

1. 단일표본 검정(one-sample t-test)
정규분포의 표본에 대해 기대값을 조사하는 검정방법 
2. 독립표본 t검정(independent two sample t-test)
두 개의 독립적인 정규분포에서 나온 N1,N2개의 데이터 셋을 사용하여 두 정규분포의 기댓값이 동일한지를 검사
3. 대응표본 t검정(Paired-two-sample t-test)
독립표본 t검정을 두 집단의 표본이 1대1 대응하는 경우에 대해 수정한 것

조건 
1. 표본의 독립성: data is collected from a representative, randomly selected portion of the total population.
2. 수집된 데이터가 정규분포를 따라야함: data, when plotted, results in a normal distribution, bell-shaped distribution curve. When a normal distribution is assumed, one can specify a level of probability (alpha level, level of significance, p) as a criterion for acceptance. 

3. 등분산성: 두 정규분포의 분산 모수가 같은지 확인)
bartlett, fligner, levene

In [ ]:
sp.stats.bartlett(x1, x2)

In [ ]:
sp.stats.fligner(x1, x2)

In [ ]:
sp.stats.levene(x1, x2)

In [ ]:
scipy.stats.ttest_inds(a, b, equal_var=True) #equal_var=True는 분산이 같을 경우

### 2. 카이제곱테스트

In [ ]:
그룹간에 차이가 있는지의 여부(=그룹끼리 독립이 아닌지의 여부)에 대해 Chisquare분포를 사용해 가설검정을 하는 방법

1. goodness of fit test (적합도 검정)
2. test of homogeneity (동질성 검정)
3. test of independence (독립성 검정)

## 3. 생존분석

### 3.1 카플란마이어

censoring이 있는 데이터에서 생존함수를 추정하는 비모수적 방법. 
추저관찰일 순으로 데이터 배열후, 구간생존률(p(t))=(해당 시점에 생존인원 수)/(전체 N) 에 이전 구간생존률(p(t-1))를 곱함. 이전 구간생존률을 곱하는것은 right censored 데이터가 이전 시점까지 관찰되었다는 정보를 활용하기 위함임.

* 그래프 끝이 0으로 내려가지 않는 이유: 마지막 event가 censored여서.대부분이 살았다고 볼수 있음

[참고] https://dermabae.tistory.com/180
[참고] https://3months.tistory.com/349
[참고] https://hyperconnect.github.io/2019/07/16/survival-analysis-part1.html

### 3.2 log rank test

In [ ]:
fit = survfit(Surv(dat2_test$end_date,dat2_test$cancer)~dat2_test$category)

plot(fit, ylab="Survival", xlab="Days", col=c("red","blue","yellow","green","purple"), mark.time=T)
legend("topright", legend=levels(dat2_test$category), col=c("red","blue","yellow","green","purple"),fill=c("red","blue","yellow","green","purple"))

### 3.3 cox proportional hazard

coefficient가 발산하는 이유(Loglik converged before variable) 
: 경고 문구를 크게 신경쓰지 않아도 되나 5이상은 x. 
변수와 암발병 여부간 교차표를 보고 0인 부분이 있는지 살펴봐야함 

[참고] https://stackoverflow.com/questions/19369314/r-coxph-warning-loglik-converged-before-variable
[참고] https://stat.ethz.ch/pipermail/r-help/2008-September/174201.html

p-value 의미
[참고] https://community.rstudio.com/t/p-value-of-cox-regression-model-in-survival-package-coxph/26658
[참고] http://www.sthda.com/english/wiki/cox-proportional-hazards-model

### 3.4 random survival forest

OOB로 여러 트리를 구성한다는 점엣 랜덤 포레스트와 동일.차이점은 각 노드 끝마디별로 Nelson–Aalen 누적위험함수를 그리고, 트리별 위험함수의 평균을 낸다는 점.

* 위험함수:특정 시간 t에 고객이 이탈할 확률. 즉, 대상이 t까지 잔존한 상태에서 t 시점에 이탈할 확률. 
* 누적위험함수:  위험함수를 0부터 t까지 적분한 것입니다. 즉, t 시점 전까지 고객이 이탈 발생할 확률을 모두 더한 것
* 평균 내기위해 묶어지는 나무 기준?

[참고] randomsurvivalforest 원문 https://projecteuclid.org/download/pdfview_1/euclid.aoas/1223908043
[참고] randomsurvivalforest 한글버전 
https://ir.ymlib.yonsei.ac.kr/bitstream/22282913/154850/1/T014313.pdf