In [2]:
import pandas as pd 
import numpy as np

# 모델평가

### 정확도

### AUC

### 데이터 처리

In [ ]:
#meaning: Apply a function along an axis of the DataFrame.
DataFrame명.apply(lambda x : x['칼럼명']들의 조건식 
                               if x['칼럼명']들의 조건식 
                               else (x['칼럼명']들의 조건식 또는 값), axis = 1)

In [ ]:
test_df.reset_index(drop=True) #drop parameter to avoid the old index being added as a column

In [ ]:
df.sort_values(by=['sequence'],inplace=True) #정렬된 상태로 다시 저장하기 : inplace=True

In [ ]:
df.rename(index = {'old_nm': 'new_nm'}, inplace = True)

In [ ]:
df=df.drop(columns=[])

In [ ]:
list 끼리 이어붙이기 +

In [ ]:
df=pd.concat([new_df,df])

In [ ]:
#문자열 내에서 i iteration 출력 
print(' '+i' ')

### 산점도

In [ ]:
sns.relplot(x="n_year_predicted",y="cancer",data=test_df)

In [ ]:
sns.regplot(x="total_bill", y="tip", data=tips) #회귀그래프 같이 출력됨

In [ ]:
차이는 모르겠음

In [ ]:
jointplot에 나오는 person 뭔지? 유의하다 유의하지 않다 나오는지?

### 히스토그램 밀도함수그래프 차이

In [ ]:
sns.kdeplot(x)

### pivot, groupby

- pivot: 데이터를 행/열 인덱스로 조회하여 펼쳐놓은것. 집계값이 없을 경우 단 하나의 데이터만 조회되어야함
- group by: 키가 지정하는 조건에 맞는 데이터가 다수 (집계값이 필수임)

차이: 변수 display 방식이 다름

In [12]:
df = pd.DataFrame({"a": [1,2,3,1,2,3], "b":[1,1,1,2,2,2], "c":np.random.rand(6)})
df.pivot('a','b','c') #집계기능 없음

b         1         2
a
1  0.719744  0.164319
2  0.584550  0.981383
3  0.465415  0.876068

In [13]:
pd.pivot_table(df, index=["a"], columns=["b"], values=["c"], aggfunc=np.sum)

          c
b         1         2
a
1  0.719744  0.164319
2  0.584550  0.981383
3  0.465415  0.876068

In [14]:
#상단 코드와 동일한 역할을 함 
df.set_index(['a','b']).unstack()

          c
b         1         2
a
1  0.719744  0.164319
2  0.584550  0.981383
3  0.465415  0.876068

In [5]:
df.groupby(['a','b'])['c'].sum()

a  b
1  1    0.251266
   2    0.363952
2  1    0.725588
   2    0.980704
3  1    0.346053
   2    0.481226
Name: c, dtype: float64

### concat

In [ ]:
pd.concat([df1, df2], axis=1) #가로 방향으로 concat

### merge

In [ ]:
df=pd.merge(df,age_df,how='left',on='pid')

## 통계검정

### 1. t-test

1. 단일표본 검정(one-sample t-test)
정규분포의 표본에 대해 기대값을 조사하는 검정방법 
2. 독립표본 t검정(independent two sample t-test)
두 개의 독립적인 정규분포에서 나온 N1,N2개의 데이터 셋을 사용하여 두 정규분포의 기댓값이 동일한지를 검사

조건 
1. 표본의 독립성: 데이터 수집이 
2. 수집된 데이터가 정규분포를 따라야함 
3. 집단이 2개 

(등분산검정: 두 정규분포의 분산 모수가 같은지 확인)
bartlett, fligner, levene
 
3. 대응표본 t검정(Paired-two-sample t-test)
독립표본 t검정을 두 집단의 표본이 1대1 대응하는 경우에 대해 수정한 것

In [ ]:
sp.stats.bartlett(x1, x2)

In [ ]:
sp.stats.fligner(x1, x2)

In [ ]:
sp.stats.levene(x1, x2)

In [ ]:
scipy.stats.ttest_inds(a, b, equal_var=True) #equal_var=True는 분산이 같을 경우